{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-8 mt-5 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome back to Gem Explorers! To like our posts, leave a comment or make bookings to attend a webinar, please sign in below.
                {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 mb-3 offset-md-2">
            <form class="login card p-5 bg-light" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary right" type="submit">{% trans "Sign In" %}</button>
            </form>
            <br>
            Don't have an account? <a class="link btn btn-primary right" href="{{ signup_url }}">Sign up here</a>
        </div>
    </div>
</div>
{% endblock %}