
body {
    background-color: rgb(105, 196, 248);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

/* Nav bar */

.logo {
    font-size: 17px;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    margin-left: 5px;

}

.navbar-nav .nav-item {
    color: blue;
}

/* Hero image and text */

.hero {
    background-image: url('static/images/pexels-eberhard-grossgasteiger-534164.jpg');
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
}

.hero-content {
    background-color: rgba(10, 10, 10, 0.6); 
    padding: 20px; 
    border-radius: 5px;
    color: #fff;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 500;
}

.hero-content p {
    font-weight: 700;
}

/* Post Heading and text */

.card {
    margin-bottom: 20px;
}

.blog-heading {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

/* Location detail page */

/* Image with text inside */

.location-heading {
    font-size: 250%;
    font-weight: bold;
}

.location-author {
    font-size: 30px;
}

.content-border {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}

.btn-like {
    color: #0233d3;
    border: none;
    background: transparent;
}