
.logo {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.btn-like {
    color: #0233d3;
    border: none;
    background: transparent;
}

body{
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url('static/images/pexels-eberhard-grossgasteiger-534164.jpg');
    background-size: cover; 
    background-position: center; 
    height: 800px;
}

.hero-content {
    background-color: rgba(10, 10, 10, 0.6); 
    padding: 20px; 
    border-radius: 5px;
    color: #fff;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 500;
}

.hero-content p {
    font-weight: 500;
}

.navbar-brand {
    font-size: 2em;
}

.card {
    margin-bottom: 20px;
}
