
body {
    background-color: #69c4f8;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* Nav bar */

.logo {
    font-size: 17px;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    margin-left: 2px;
}

.signup-in a {
    text-decoration: none;
    color: white;
}

/* Hero image and text */

.hero {
    background-image: url("https://res.cloudinary.com/dqphba816/image/upload/v1703015107/pexels-eberhard-grossgasteiger-534164_yhxrm3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background-color: rgba(10, 10, 10, 0.8); 
    padding: 20px; 
    border-radius: 5px;
    color: #fff;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 500;
}

.hero-content p {
    font-weight: 700;
}
.hero-text-link {
    text-decoration: none;
    color: #69c4f8;
}

/* Post Heading and text */

.card {
    margin-bottom: 20px;
}

.blog-heading {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

/* Location detail page */

.image-flash {
    background-color: rgb(105, 196, 248);
    font-size: 100%;
}

.card-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-text {
    font-weight: bold;
    text-align: center;
}

.post-link {
    color: black;
}

/* Image with text inside */

.location-heading {
    font-size: 250%;
    font-weight: bold;
}

.location-author {
    font-size: 20px;
}

.content-border {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    height: fit-content;
}

.btn-like {
    color: #0233d3;
    border: none;
    background: transparent;
}

.btn-primary {
    background-color: #0233d3;
    color: #fff;
}

.btn-primary a {
    text-decoration: none;
    color: #fff;
}

.footer-text {
    color: black;
}

.img-fluid {
    max-height: 800px;
}

.about-headings {
    font-weight: bolder;
    font-size: 40px;
}

.webinar-link {
    align-items: center;
}

.next-btn {
    text-decoration: none;
    background-color: #70eb8c;
    color: black;
    border: 2px solid black;
}

.prev-btn {
    text-decoration: none;
    background-color: #DC3545;
    color: white;
    border: 2px solid black;
}

.admin-btn {
    background-color: #70eb8c;
    color: black;
}

.helptext {
    display: none;
}