{% extends "base.html" %} 
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 px-5 py-5 text-center">
      <h1 class="text-center mb-5">About us</h1>

      <div class="row">
        <!-- First Section (Image on Left, Text on Right) -->
        <div class="col-md-6">
            <div class="w-90">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
            alt="Image 1"
          />
            </div>
        </div>
        <div class="col-md-6 mt-4 mb-4 content-border">
          <h2>Our Story</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.
          </p>
        </div>

        <!-- Second Section (Image on Right, Text on Left) -->
        <div class="col-md-6 mt-4 mb-4 content-border">
          <h2>Our mission</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            reprehenderit facere velit voluptates laborum voluptas aperiam
            dolores unde numquam architecto eos id vitae sed, a ad libero eius
            perspiciatis eum.
          </p>
        </div>
        <div class="col-md-6">
          <div class="w-90">
            <img
              class="img-fluid"
              src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
              alt="Image 2"
            />
          </div>
        </div>
      </div>
    Don't have an account? <a class="link btn btn-primary right mt-4" href="{% url 'account_signup' %}">Sign up here</a>
    </div>
  </div>
</div>

{% endblock content %}
