{% extends "base.html" %} 

{% block content %} 

{% load static %}

<!--Hero image text-->

{% if is_paginated and page_obj.number == 1 %}
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center hero-content">
        <h1>Gem Explorers</h1>
        <p >
          Where we turn Tourists in Explorists!
          <br />
          Discover the beauty of our world, Gem Explorers is here to give you
          the information you need to embrace the hidden gems we have all around
          us. <strong><a class="hero-text-link" href="{% url 'account_signup' %}">Sign up free today</a></strong> to join our curious community.
          <br>
          Visit our Blog posts below to discover the incredible natural beauties our world has instore for us.
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!--Blog post heading and text-->

<section class="blog-post-heading-section">
    <div class="container card bg-dark mt-4 blog-heading">
        <h3 class="text-center mt-4 mb-4">Check out our Hidden Gem blog posts!</h3>
        <p class="text-center">Within these post you will find the inspiration you need to plan your next adventure. Once you've found the location you are interested in, keep an eye out of our webinar to get more in depth information.</p>
    </div>
</section>

<!--Blog posts-->

<section class="blog-card-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body content-border">
                                <a href="{% url 'location_detail' post.slug %}" class="post-link">
                                <div class="image-container">
                                    {% if 'placeholder' in post.featured_image.url %}
                                    <img
                                    class="card-img-top"
                                    src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
                                    alt="Lake with mountain reflections"
                                    />
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url}}" alt="small image of the location in the heading"/>
                                    {% endif %}
                                    <div class="image-flash text-center">
                                    <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="text-center"><strong>Location: {{ post.location }}</strong></p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">
                                {{ post.created_on }} <i class="fa-regular fa-thumbs-up ml-2"></i> {{post.number_of_likes}}
                    
                                
                                <strong class="text-secondary ml-2"><i class="far fa-comments white"></i>
                                    {{ post.comments.count }}</strong>
                            </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                </div>
        <div class="row">{% endif %} {% endfor %}</div>
        </div>
    </div>

    <!--Page pagination-->

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link prev-btn"
            >&laquo; PREV
            </a>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link next-btn">
            NEXT &raquo;</a
            >
        </li>

        {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>
</section>
{% endblock content %}
