{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid">
  <div class="row">
    
    <!-- Card template used from
        https://getbootstrap.com/docs/4.0/components/card/ 
        and edited for my content -->

    <!-- Main Content with Information -->
    <div class="col-md-8">
      <div class="card mt-3">
        <div class="card-body text-center">
          <h5 class="card-title">{{ webinar.title }}</h5>
          <div class="d-none d-md-block">
            {% if "placeholder" in webinar.featured_image.url %}
            <img
              src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
              class="img-fluid"
              alt="Webinar Image"
            />
            {% else %}
            <img
              src="{{ webinar.featured_image.url }}"
              class="img-fluid"
              alt="Webinar Image"
            />
            {% endif %}
          </div>
          <p class="card-text mt-3">
                {{ webinar.description }}
            </p>
            <p>
                All webinars will be held on Zoom, the email address you used to sign up will be sent a link 1 hour before the webinar is set to start. 
                Once you've entered the call please stay muted and please note down your questions, there will be time at the end to go over them. 
                Feel free to remain hidden, or alternativly your welcome to keep your camera on.
            </p>
            <p>If you have any issues with bookings or alternative questions, you can contact us <a href="{% url 'contact' %}">here</a></p>
            <p>All booking are subject to being signed in.</p>
        </div>
      </div>
    </div>

    <!-- Sidebar with Cards -->
    <div class="col-md-4">
      {% for timestamp in timestamps %}
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ webinar.title }}</h5>
          <p class="card-text">
            Available Date and time:
            <strong>{{ timestamp.date_and_time }}</strong>
          </p>
          <form method="post" action="{% url 'book' timestamp.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="total_viewers">Number of Viewers:</label>
              <select
                class="dropdown-select"
                id="total_viewers"
                name="total_viewers"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <button class="btn btn-primary" type="submit">Book</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
