{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for webinar in webinar_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'placeholder' in webinar.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
                                    alt="Lake with mountain reflections">
                                {% else %}
                                <img class="card-img-top" src="{{ webinar.featured_image.url}}">
                                {% endif %}
                                <div class="image-flash">
                                    <p>Speaker: {{ webinar.speaker }}</p>
                                </div>

                            </div>
                            <h2 class="card-title">{{ webinar.title }}</h2>
                            <p class="card-text">{{ webinar.description }}</p>
                            <a href="{% url 'webinar_detail' webinar.slug %}" class="webinar-link">
                                <button class="btn btn-primary" type="submit">Book</button>
                            </a>
                            <hr>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}