{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <!-- Main Content with Information -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ webinar.title }}</h5>
                    <div class="d-none d-md-block">
                        {% if "placeholder" in webinar.featured_image.url %}
                        <img src="https://res.cloudinary.com/dqphba816/image/upload/v1700259476/DSC3050-scaled_x7dfgm.jpg"
                            class="img-fluid" alt="Webinar Image" />
                        {% else %}
                        <img src="{{ webinar.featured_image.url }}" class="img-fluid" alt="Webinar Image" />
                        {% endif %}
                    </div>
                    <p class="card-text mt-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde,
                        sapiente nemo culpa officia ipsum reiciendis blanditiis consectetur
                        ea enim quos in veritatis esse id perferendis ad omnis rem
                        voluptatem numquam?
                    </p>
                </div>
            </div>
        </div>

        <!-- Sidebar with Cards -->
        <div class="col-md-4">
            {% for timestamp in timestamps %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ webinar.title }}</h5>
                    <p class="card-text">Available Date and time: <strong>{{ timestamp.date_and_time }}</strong></p>
                    <a href="{% url 'book' timestamp.id %}">
                        <button class="btn btn-primary" type="submit">Book</button>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- Add more cards as needed -->
        </div>
    </div>
</div>

{% endblock content %}
